												/*kala2016*/

body{  overflow-x:hidden;font:400 14px/1.5 "Open Sans","Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif; color: rgb(51,51,51);}
ul li { list-style: outside none none; margin: 0px; padding: 0px; }
a { text-decoration: none; color: rgb(51,51,51); }
img{vertical-align: middle;}
a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.forms-register {background: rgb(255,255,255);}
wobble

      /*全局变量*/

      /*Header*/
/*========================================*/
header .navbar-default { margin: -1px;}
header .navbar-default { background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 99; border: 0px solid transparent; border-radius: 10px; }
header .navbar-default a, header .navbar-default label { outline: 0px none; }
header .navbar-default .header-main { box-shadow: none; height:80px;}
header .navbar-default .header-main .navbar-header img { padding: 14px 0px;}
header .navbar-default .header-main .header-wrap { position: relative; }
header .navbar-default .header-main .nav-left-login { float: none; display: inline-block; position: absolute; top: -4px; right: 30px; }
header .navbar-default .header-main .nav-left-login a.qb { margin-top: 28px; width: 60px; margin-right: 5px; border-radius: 16px; border: 0px none; cursor: pointer; padding: 6px 12px; font-size: 13px; color: rgb(255, 255, 255); }
header .navbar-default .header-main .nav-left-login a.qb.btn-default { background: rgb(94, 190, 33) none repeat scroll 0% 0%; }
header .navbar-default .header-main a.qb.btn-primary { background: rgb(221, 221, 221) none repeat scroll 0% 0%; color:rgb(51, 51,51);}
header .navbar-default .header-main .user-icon { height: 35px; position: absolute; top: 20px; right: 30px; width: 35px; }
header .navbar-default .header-main .user-icon a { display: block; border: 0px none; padding: 0px; text-indent: -9999px; height: 35px; background: transparent url("../img/header/users.png") no-repeat scroll center center / 35px auto; }
header .navbar-header .success-login{ position: absolute; top:3px; right:40px;z-index:50;}
header .drop-list{ position:absolute;right:32px; margin-top: -10px;z-index:50;background:url("../img/header/e-2.png")no-repeat; width:115px; height:80px;}
header .drop-list li {text-align: center; width:100px; height:40px; margin-top: 5px;}
header .drop-list hr{margin:0px;}

header .navbar-title{ line-height: 74px; font-size: 22px; }
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 0px solid transparent;margin-bottom: 0px; list-style: outside none none; }
.navbar-header .line{  line-height: 12px; float:left; font-size: 22px; color: rgb(119,119,119); padding-left: 15px; width: 0px; height: 40px; margin: 18px 0px 0px 15px; border-width: 0px 0px 0px 1px; border-style: none none none solid; border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.nav-logo{ float:left; margin-left:15px;}
      /*Footer*/
/*========================================*/
.home footer { display:line-block; color:#666666;outline: 0px none; cursor: pointer;transition: all 0.3s ease-out 0s;text-decoration: none;background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow:hidden;}
.home footer p { font-size: 14px;}
.footer-box {  margin: 0px auto; text-align: center; padding-top:20px; display: block;}
.footer .f-connect{ font-size: 16px;}
 /*Banner*/
/*========================================*/
.home .bannertap { width: 100%;}
.btn-success{background-color:#FBC82E; border-radius:24px; color:#AF8C1D; padding:7px 25px; font-size:18px; border:0;}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {outline: none;background-color:#FBC82E;color:#AF8C1D; border-color:transparent;}
.btn-success:hover{background:#FBC82E;}
/*------------p1------------------*/
.p1 .e-1-1{animation:flipInX 5s linear infinite; -webkit-animation:flipInX 5s linear infinite;}
@-webkit-keyframes flipInX {
  0% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);transform: perspective(400px) rotate3d(1, 0, 0, 90deg);-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;opacity: 0;}
40% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);transform: perspective(400px) rotate3d(1, 0, 0, -20deg);-webkit-transition-timing-function: ease-in; transition-timing-function: ease-in;}
60% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);transform: perspective(400px) rotate3d(1, 0, 0, 10deg);opacity: 1;}
80% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);transform: perspective(400px) rotate3d(1, 0, 0,-5deg);}
100% {-webkit-transform: perspective(400px);transform: perspective(400px);}}
@keyframes flipInX {
  0% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);transform: perspective(400px) rotate3d(1, 0, 0, 90deg); -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in;opacity: 0;}
40% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);transform: perspective(400px) rotate3d(1, 0, 0, -20deg);-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;}
60% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);transform: perspective(400px) rotate3d(1, 0, 0, 10deg);opacity: 1;}
80% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);transform: perspective(400px) rotate3d(1, 0, 0, -5deg);}
100% {-webkit-transform: perspective(400px);transform: perspective(400px);}}
.p1 .e-1-2{animation:flipInX 5s linear infinite; -webkit-animation:flipInX 5s linear infinite;}
@-webkit-keyframes flipInX {
  0% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);transform: perspective(400px) rotate3d(1, 0, 0, 90deg);-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;opacity: 0;}
40% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);transform: perspective(400px) rotate3d(1, 0, 0, -20deg);-webkit-transition-timing-function: ease-in; transition-timing-function: ease-in;}
60% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);transform: perspective(400px) rotate3d(1, 0, 0, 10deg);opacity: 1;}
80% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);transform: perspective(400px) rotate3d(1, 0, 0,-5deg);}
100% {-webkit-transform: perspective(400px);transform: perspective(400px);}}
@keyframes flipInX {
  0% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);transform: perspective(400px) rotate3d(1, 0, 0, 90deg); -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in;opacity: 0;}
40% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);transform: perspective(400px) rotate3d(1, 0, 0, -20deg);-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;}
60% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);transform: perspective(400px) rotate3d(1, 0, 0, 10deg);opacity: 1;}
80% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);transform: perspective(400px) rotate3d(1, 0, 0, -5deg);}
100% {-webkit-transform: perspective(400px);transform: perspective(400px);}}
.p1 .e-1-3{animation:flipInX 5s linear infinite; -webkit-animation:flipInX 5s linear infinite;}
@-webkit-keyframes flipInX {
  0% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);transform: perspective(400px) rotate3d(1, 0, 0, 90deg);-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;opacity: 0;}
40% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);transform: perspective(400px) rotate3d(1, 0, 0, -20deg);-webkit-transition-timing-function: ease-in; transition-timing-function: ease-in;}
60% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);transform: perspective(400px) rotate3d(1, 0, 0, 10deg);opacity: 1;}
80% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);transform: perspective(400px) rotate3d(1, 0, 0,-5deg);}
100% {-webkit-transform: perspective(400px);transform: perspective(400px);}}
@keyframes flipInX {
  0% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);transform: perspective(400px) rotate3d(1, 0, 0, 90deg); -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in;opacity: 0;}
40% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);transform: perspective(400px) rotate3d(1, 0, 0, -20deg);-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;}
60% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);transform: perspective(400px) rotate3d(1, 0, 0, 10deg);opacity: 1;}
80% {-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);transform: perspective(400px) rotate3d(1, 0, 0, -5deg);}
100% {-webkit-transform: perspective(400px);transform: perspective(400px);}}
/*------------p2------------------*/
.e-2-4{animation:bounceInLeft 3s linear; -webkit-animation:bounceInLeft 3s linear;}
@-webkit-keyframes bounceInLeft {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}0% {opacity: 0;-webkit-transform: translate3d(-3000px, 0, 0);transform: translate3d(-3000px, 0, 0); }60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
75%{-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
90%{-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}100% {-webkit-transform: none;transform: none;}}
@keyframes bounceInLeft {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1.000);}0% {opacity: 0;-webkit-transform: translate3d(-3000px, 0, 0);transform: translate3d(-3000px, 0, 0);}
60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
75% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
90% {-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}
100% {-webkit-transform: none;transform: none;}}
.e-2-1{animation:wobble 5s linear infinite; -webkit-animation:wobble 5s linear infinite;}@-webkit-keyframes wobble {0% {-webkit-transform: none;transform: none;}
15% {-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);}
30% {-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);}
45% {-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);}
60% {-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);}
75% {-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);}
100% {-webkit-transform: none;transform: none;}}
@keyframes wobble {0% {-webkit-transform: none;transform: none;}
15% {-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);}
30% {-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);}
45% {-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);}
60% {-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);}75% {-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);}
100% {-webkit-transform: none;transform: none;}}
/*------------p3------------------*/
.e-3-4{animation:bounceInLeft 3s linear; -webkit-animation:bounceInLeft 3s linear;}
@-webkit-keyframes bounceInLeft {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}0% {opacity: 0;-webkit-transform: translate3d(-3000px, 0, 0);transform: translate3d(-3000px, 0, 0); }60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
75%{-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
90%{-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}100% {-webkit-transform: none;transform: none;}}
@keyframes bounceInLeft {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1.000);}0% {opacity: 0;-webkit-transform: translate3d(-3000px, 0, 0);transform: translate3d(-3000px, 0, 0);}
60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
75% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
90% {-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}
100% {-webkit-transform: none;transform: none;}}
.e-3-1{animation:bounceInRight 3s linear infinite; -webkit-animation:bounceInRight 3s linear infinite;}
@-webkit-keyframes bounceInRight {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
0% {opacity: 0;-webkit-transform: translate3d(3000px, 0, 0); transform: translate3d(3000px, 0, 0);}
60% {opacity: 1;-webkit-transform: translate3d(-25px, 0, 0);transform: translate3d(-25px, 0, 0);}
75% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}
90% {  -webkit-transform: translate3d(-5px, 0, 0); transform: translate3d(-5px, 0, 0);} 
100% {-webkit-transform: none;transform: none;}}
@keyframes bounceInRight {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
0% { opacity: 0;-webkit-transform: translate3d(3000px, 0, 0);transform: translate3d(3000px, 0, 0);}
60% {opacity: 1;-webkit-transform: translate3d(-25px, 0, 0);transform: translate3d(-25px, 0, 0);}
75% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}
90% {webkit-transform: translate3d(-5px, 0, 0);transform: translate3d(-5px, 0, 0);}100% {-webkit-transform: none;transform: none;}}
/*------------p4------------------*/
.e-4-1{animation:zoomInDown 3s linear infinite; -webkit-animation:zoomInDown 3s linear infinite;}
@-webkit-keyframes zoomInDown {0% {opacity: 0;-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);}
60% {opacity: 1;-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);}}
@keyframes zoomInDown {0% {opacity: 0;webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);}
60% {opacity: 1;-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);}}
.e-4-5{animation:bounceInLeft 3s linear; -webkit-animation:bounceInLeft 3s linear;}
@-webkit-keyframes bounceInLeft {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}0% {opacity: 0;-webkit-transform: translate3d(-3000px, 0, 0);transform: translate3d(-3000px, 0, 0); }60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
75%{-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
90%{-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}100% {-webkit-transform: none;transform: none;}}
@keyframes bounceInLeft {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1.000);}0% {opacity: 0;-webkit-transform: translate3d(-3000px, 0, 0);transform: translate3d(-3000px, 0, 0);}
60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
75% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
90% {-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}
100% {-webkit-transform: none;transform: none;}}
/*------------p5------------------*/
.e-5-1{animation:zoomInDown 3s linear infinite; -webkit-animation:zoomInDown 3s linear infinite;}
@-webkit-keyframes zoomInDown { 0% {opacity: 0;-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);}
60% {opacity: 1;-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);}}
@keyframes zoomInDown {0% {opacity: 0;-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);}
60% {opacity: 1;-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);}}
.btn-success{animation:flash 3s linear infinite; -webkit-animation:flash 3s linear infinite;}
@-webkit-keyframes flash {0%, 50%, 100% {opacity: 1;}25%, 75% {opacity: 0;}}
@keyframes flash {0%, 50%, 100% {opacity: 1;}25%, 75% {opacity: 0;}}
     /*Form*/
/*========================================*/
.forms-register {width:32%; margin:0 auto; border-radius: 5px;}
.forms-register .forms-layout { padding:20px 40px; font-size: 16px;}
.forms-register .logo { text-align: center;}
.forms-register input{ padding-left:2.5rem;}
.form-group img{ float: left; margin:-26px 0px 0px 5px;}
.checkbox label { font-size:15px; line-height:16px; width: 70.66%; padding-left:0px;}
.checkbox .f-left { margin-left:20px;}
.checkbox .f-left a{ color: rgb(94,190,33);}
.checkbox .text-right { text-align:right; }
.forms-register .btn {width:100%;} 

/* Desktops and laptops ----------- */
 @media only screen
 and (min-width : 1224px) {

/*Banner*/
/*========================================*/
/*------------p1------------------*/
.home .p1 {height:670px; padding-top:3.2%; text-align:center; background:rgba(247, 247, 247, 0.9) url(../img/sales/e-1-bg.png) no-repeat center center;}
.e-1-2{display:block; margin: 0 auto 15px auto;}
.e-1-4{color: #666968; font-size:35px; font-weight: 500;}
.e-1-5{color: #dddddd; font-size:16px;}
/*------------p2------------------*/
.home .p2{height: 670px; text-align:center;padding-top:2%;color: #ffffff;background: rgba(247, 247, 247, 0.9) url(../img/sales/e-2-bg.png) no-repeat center center;}
.p2 .e-2-2{font-size:30px;}
.p2 .e-2-3{font-size: 16px;}
.p2 .e-2-4{padding-top:8%; padding-left:18%;}
.p2 .e-2-5{padding-right:25%;}
/*------------p3------------------*/
.home .p3{height: 670px; text-align:center; background: rgba(247, 247, 247, 0.9) url(../img/sales/e-3-bg.png) no-repeat center center;}
.p3 .e-3-1{padding:8% 20% 0px 0px;}
.p3 .e-3-2{font-size:30px;}
.p2 .e-3-3{font-size:16px;}
.p3 .e-3-4{padding-top:8%; padding-left:15%; color: #e84c4f;}
.p3 .e-3-5{padding-top:20%; padding-left:35%;}
/*------------p4------------------*/
.home .p4{height: 670px; text-align:center;padding-top:3.5%; background: rgba(247, 247, 247, 0.9) url(../img/sales/e-4-bg.png) no-repeat center center;}
.p4 .e-4-2{font-size:30px;}
.p4 .e-4-4{color:#557f0d;}
.p4 .e-4-5{margin-bottom:2.8%; margin-left:-40%;}
/*------------p5------------------*/
.home .p5{height: 670px;padding-top:5.2%; background:rgba(247, 247, 247, 0.9) url(../img/sales/e-5-bg.png) no-repeat center center;}
.p5 .e-5-1{margin-top:145px;}
.p5 .e-5-2{font-size:30px; color:#ffffff; }
.p5 .e-5-3{padding-left:18.44%; margin-bottom:3%;}
.p5 .btn{margin-top:5%;}

   /*Form*/
/*========================================*/
.forms-register {width:32%;}
.checkbox .f-left { margin-left:20px;}     
 }

/* pc (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1224px)
 {
/*Banner*/
/*========================================*/
/*------------p1------------------*/
.home .p1 {height:670px; padding-top:3.2%; text-align:center; background:rgba(247, 247, 247, 0.9) url(../img/sales/e-1-bg.png) no-repeat center center;}
.e-1-2{display:block; margin: 0 auto 15px auto;}
.e-1-4{color: #666968; font-size:35px; font-weight: 500;}
.e-1-5{color: #dddddd; font-size:16px;}
/*------------p2------------------*/
.home .p2{height: 670px; text-align:center;padding-top:2%;color: #ffffff;background: rgba(247, 247, 247, 0.9) url(../img/sales/e-2-bg.png) no-repeat center center;}
.p2 .e-2-1{padding-right: 50px;}
.p2 .e-2-2{font-size:30px;}
.p2 .e-2-3{font-size: 16px;}
.p2 .e-2-4{padding-top:8%;}
.p2 .e-2-5{padding-right:25%;}
/*------------p3------------------*/
.home .p3{height: 670px; text-align:center; background: rgba(247, 247, 247, 0.9) url(../img/sales/e-3-bg.png) no-repeat center center;}
.p3 .e-3-1{padding:8% 0px 0px 0px;}
.p3 .e-3-2{font-size:30px;}
.p2 .e-3-3{font-size:16px;}
.p3 .e-3-4{padding-top:8%;color: #e84c4f;}
.p3 .e-3-5{padding-top:20%; padding-left:35%;}
/*------------p4------------------*/
.home .p4{height: 670px; text-align:center;padding-top:3.5%; background: rgba(247, 247, 247, 0.9) url(../img/sales/e-4-bg.png) no-repeat center center;}
.p4 .e-4-2{font-size:30px;}
.p4 .e-4-4{color:#557f0d;}
.p4 .e-4-5{margin-bottom:2.8%; margin-left:-40%;}
/*------------p5------------------*/
.home .p5{height: 670px;padding-top:5.2%; background:rgba(247, 247, 247, 0.9) url(../img/sales/e-5-bg.png) no-repeat center center;}
.p5 .e-5-1{margin-top:15.66666%;}
.p5 .e-5-2{font-size:30px; color:#ffffff; }
.p5 .e-5-3{padding-left:18.44%; margin-bottom:3%;}
.p5 .btn{margin-top:5%;}
  /*Form*/
/*========================================*/
.forms-register {width:35%;}
.checkbox .f-left {margin-left:20px;}
}


     /* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/*Banner*/
/*========================================*/
/*------------p1------------------*/
.home .p1 {height:670px; padding-top:3.2%; text-align:center; background:rgba(247, 247, 247, 0.9) url(../img/sales/e-1-bg.png) no-repeat center center;}
.e-1-2{display:block; margin: 0 auto 15px auto;}
.e-1-4{color: #666968; font-size:35px; font-weight: 500;}
.e-1-5{color: #dddddd; font-size:16px;}
/*------------p2------------------*/
.home .p2{height: 670px; text-align:center;padding-top:2%;color: #ffffff;background: rgba(247, 247, 247, 0.9) url(../img/sales/e-2-bg.png) no-repeat center center;}
.p2 .e-2-2{font-size:30px;}
.p2 .e-2-3{font-size: 16px;}
.p2 .e-2-4{padding-top:8%; padding-left:2%;}
.p2 .e-2-5{padding-right:35%;}
/*------------p3------------------*/
.home .p3{height: 670px; text-align:center; background: rgba(247, 247, 247, 0.9) url(../img/sales/e-3-bg.png) no-repeat center center;}
.p3 .e-3-1{display: none;}
.p3 .e-3-2{font-size:30px;}
.p2 .e-3-3{font-size:16px;}
.p3 .e-3-4{padding-top:8%; color: #e84c4f;}
.p3 .e-3-5{padding-top:20%; padding-left:35%;}
/*------------p4------------------*/
.home .p4{height: 670px; text-align:center;padding-top:3.5%; background: rgba(247, 247, 247, 0.9) url(../img/sales/e-4-bg.png) no-repeat center center;}
.p4 .e-4-2{font-size:30px;}
.p4 .e-4-4{color:#557f0d;}
.p4 .e-4-5{margin-bottom:2.8%; margin-left:-40%;}
/*------------p5------------------*/
.home .p5{height: 670px;padding-top:5.2%; background:rgba(247, 247, 247, 0.9) url(../img/sales/e-5-bg.png) no-repeat center center;}
.p5 .e-5-1{margin-top:200px;}
.p5 .e-5-2{font-size:30px; color:#ffffff; }
.p5 .e-5-3{padding-left:5.6%; margin-bottom:3%;}
.p5 .btn{margin-top:5%;}
 		/*Form*/
/*========================================*/
.forms-register {width:40%;}
.checkbox .f-left { margin-left:20px;}
}


/* 768px通用 (landscape) ----------- */
   @media only screen
    and (max-width : 767px) {
    /*Header*/
/*========================================*/
header .navbar-default { margin: -1px;}
header .navbar-default { background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 99; border: 0px solid transparent; border-radius: 10px; }
header .navbar-default a, header .navbar-default label { outline: 0px none; }
header .navbar-default .header-main { box-shadow: none; height:66px;}
header .navbar-default .header-main .navbar-title img { padding: 14px 0px 0px 14px; width: 110px;}
header .navbar-default .header-main .header-wrap { position: relative; }
header .navbar-title{ line-height: 65px; font-size: 1.6rem; }
header .navbar-default .header-main .nav-left-login { float: none; display: inline-block; position: absolute; top: -4px; right: 2px; }
header .navbar-default .header-main .nav-left-login a.qb { margin-top: 28px; width: 60px; margin-right: 5px; border-radius: 13px; border: 0px none; cursor: pointer; padding: 6px 12px; font-size: 13px; color: rgb(255, 255, 255); }
header .navbar-default .header-main .nav-left-login a.qb.btn-default { background: rgb(94, 190, 33) none repeat scroll 0% 0%; }
header .navbar-default .header-main a.qb.btn-primary { background: rgb(221, 221, 221) none repeat scroll 0% 0%; color:rgb(51, 51,51);}
header .navbar-default .header-main .user-icon { height: 35px; position: absolute; top: 15px; right: 15px; width: 35px; }
header .navbar-default .header-main .user-icon a { display: block; border: 0px none; padding: 0px; text-indent: -9999px; height: 33px; background: transparent url("../img/header/users.png") no-repeat scroll center center / 26px auto;}
header .navbar-header .success-login img{width:35px; height:62px;}
header .navbar-header .success-login{position: absolute; top:3px; right:15px; z-index:50;}
header .drop-list{right:8px;}
/*Banner*/
/*========================================*/
/*------------p1------------------*/
.home .p1 {height:200px; text-align:center; background:rgba(247, 247, 247, 0.9) url(../img/sales/e-1-bg.png) no-repeat center center; background-size: 100% 100%;}
.e-1-2{display:block; margin: 0 auto 15px auto;}
.e-1-4{color: #666968; font-size:18px;}
.x-e1 img{width:50%; }
/*------------p2------------------*/
.home .p2{height: 200px; text-align:center;padding-top:2%;color: #ffffff;background: rgba(247, 247, 247, 0.9) url(../img/sales/e-2-bg.png) no-repeat center center;background-size: 100% 100%;}
.p2 .e-2-1{width:100%; float: left;}
.p2 .e-2-2{font-size:18px; padding-left:15px;}
.p2 .e-2-3{font-size: 16px;}
.p2 .e-2-4{padding-top:8%;}
.p2 .e-2-5{padding-right:25%;}
/*------------p3------------------*/
.home .p3{height:200px; text-align:center; background: rgba(247, 247, 247, 0.9) url(../img/sales/e-3-bg.png) no-repeat;background-size: 110% 100%;}
.p3 .e-3-1{width:50%;;}
.p3 .e-3-2{font-size:18px;}
.p2 .e-3-3{font-size:16px;}
.p3 .e-3-4{padding-top:8%; color: #e84c4f;}
.p3 .e-3-5{padding-top:20%; padding-left:35%;}
/*------------p4------------------*/
.home .p4{height:200px; text-align:center;padding-top:3.5%; background: rgba(247, 247, 247, 0.9) url(../img/sales/e-4-bg.png) no-repeat center center;background-size: 100% 100%;}
.p4 .e-4-1{width:25%;}
.p4 .e-4-2{font-size:18px; margin-left:-34px;}
.p4 .e-4-4{color:#557f0d; }
.p4 .e-4-5{margin-bottom:2.8%; margin-left:-40%;}
/*------------p5------------------*/
.home .p5{height:200px;padding-top:5.2%; background-size:20% auto; background:rgba(247, 247, 247, 0.9) url(../img/sales/e-5-bg.png) no-repeat center bottom;background-size: 100% 100%;}
.p5 .e-5-1{width:50%;}
.p5 .e-5-2{font-size:14px; color:#ffffff; }
.p5 .e-5-3{padding-left:5%; margin-bottom:3%;}
.p5 .btn{font-size: 13px;}
 /*Form*/
/*========================================*/
.forms-register {width:95%;}
.checkbox .f-left {margin-left: 19px;} 
.home footer p { font-size: 14px;}
 /*Footer*/
/*========================================*/
.home footer p { font-size: 13px;}
.footer-box {  margin: 0px auto;padding-top:20px; display: block;}
.footer .f-connect{ font-size: 14px;}
.btn-success{background-color:#FBC82E; border-radius:24px; color:#AF8C1D; padding:7px 15px; font-size:14px; border:0;}
}
